.cabecalho{
    width: 100%;
    height: 70px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho__logo{
    color: #fff;
    font-size: .7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.cabecalho__nave{
    display: flex;
    gap: 40px;
}
.cabecalho__nave a{
    text-decoration: none;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: .5s;
}
.cabecalho__nave a:hover{
    color: #fff;
}