@media (max-width:1045px) {
    .cabecalho__nave{
        display: none;
    }
    .cabecalho__nave.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #222;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .toggle{
        position: relative;
        width: 35px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999999999;
        cursor: pointer;
    }
    .toggle::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #999;
        transform: translateY(-10px);
        box-shadow: 0 10px 0 #999;
        transition: .25s;
    }
    .toggle.active::before{
        transform: translateY(0) rotate(45deg);
        box-shadow: 0 0 0 #999;
    }
    .toggle::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #999;
        transform: translateY(10px);
    }
    .toggle.active::after{
        transform: translateY(0) rotate(-45deg);
    }
    .principal__projeto___secao--btn{
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }
}
@media (max-width:972px){
    .principal__destaque{
        flex-direction: column;
    }
    .principal__destaque___texto h1{
        font-size: 2rem;
    }
    .principal__destaque___texto{
        order: 2;
        width: 100%;
    }
    .principal__destaque___imagen{
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .principal_formacao___conteudo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .principal__formacao__graduacao img, .principal__formacao__curso img{
        width: 50vw;
    }
    .principal__projeto___secao____imagem img{
        width: 60vw;
    }
    .rodape__contato{
        width: 80%;
    }
}
@media (max-width:800px){
    .cabecalho{
        justify-content: space-between;
        padding: 0 10px;
    }
    .principal__sobre p{
        width: 100%;
    }
    .principal{
        padding: 30px 10px;
    }
    .principal__destaque___imagen--img{
        width: 100%;
    }
    .principal__formacao__graduacao img, .principal__formacao__curso img{
        width: 100%;
    }
}
@media (max-width:750px){
    .principal__projeto___secao____imagem img{
        width: 90%;
    }
    .principal__projeto___secao{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projeto-img-1{ order: 1;}
    .projeto-texto-1{order: 2;}
    .projeto-img-2{order: 1;}
    .projeto-texto-2{order: 2;}
    .projeto-img-3{order: 1;}
    .projeto-texto-3{order: 2;}
}